<ion-view cache-view="false" title="&nbsp;" class="bubble-background" view-title='{{navTitle}}'>
  <ion-content class="padding">
   <h1></h1>
   <p style="text-align:center">Locator app lets people find your location by sending an SMS to your mobile number.</p>
   <br/><br/>
   <!-- GET Location Form -->
   <div class="list">
    <form ng-submit="getLocation()" ng-model="locate">
      <label class="item item-input">
        <span class="input-label">Mobile Number</span>
        <input type="tel" ng-model="locate.mobile">
      </label>
      <input type="submit" class="button button-block button-royal" value="Get Location">
    </form>
    <a ng-show="geolocation.latitude" href="https://www.google.co.in/maps/@{{geolocation.latitude}},{{geolocation.longitude}}z?hl=en">open map</a>
  </div>
</ion-view>
